*{
    margin: 0;
}
.col img{
    background-position: center;
}
.row{
    display: flex;
    flex-wrap: wrap-reverse;
}
@media screen and (max-width:592px)
{
.col img{
    width: 400px;
}
.col{
    flex-direction: column-reverse;
}

}